{% extends 'base.html' %}

{% block content %}
<div style="color:#F62630">{{senateur.Prenom_usuel}} {{senateur.Nom_usuel}}, sénateur {{senateur.Groupe_politique}} ({{senateur.Circonscription}})

<img src="https://www.nossenateurs.fr/senateur/photo/martin-levrier/160" style="width:10%; filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(-30deg)"/> <img src="https://www.nossenateurs.fr/martin-levrier/graphes/lastyear/total?questions=true&link=true&mapId=Map_3185.map" style="width:80%; filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(-30deg)"/>

<strong># Informations</strong>

Mandat en cours depuis le 24 septembre 2017
Groupe politique : Rassemblement des démocrates, progressistes et indépendants (membre)
Parti politique (rattachement financier) : En marche !
Profession : Secrétaire général
Fiche sur le site du Sénat
Page sur Wikipédia
Site web
Site web
Sur Twitter

# Responsabilités

Commission permanente :
    Affaires sociales (vice-président) 
Missions parlementaires :
    Délégation sénatoriale aux entreprises (membre)
Fonctions judiciaires, internationales ou extra-parlementaires :
    Commission départementale des valeurs locatives des locaux professionnels (membre)
    Commission d'enquête pour l'évaluation des politiques publiques face aux grandes pandémies à la lumière de la crise sanitaire de la covid-19 et de sa gestion (vice-président commission)

# Suivre l'activité du sénateur
    par email  par RSS

# Champ lexical

agriculteur ap-hp ARS chefs d’exploitation chèques-vacances chômage confinement congé consommateur contact crise don

# Productions parlementaires

Ses derniers rapports

    29/01/20 : Rapport N° 278 (2019-2020) de la Commission des affaires sociales relative à la sécurité sa...

Tous ses rapports

Ses dernières propositions de loi
Ce sénateur n'a déposé aucune proposition de loi.

Toutes ses propositions de loi cosignées

Tous ses amendements

# Travaux législatifs

Ses derniers dossiers

    Projet de loi de finances pour 2021 (1 intervention)
    Financement de la sécurité sociale pour 2021 (3 interventions)
    Projet de loi de financement de la sécurité sociale pour 2021 (2 interventions)
    Audition de m. édouard philippe ancien premier ministre (1 intervention)

Tous ses dossiers

Travaux en commissions
Travaux en hémicycle
Toutes ses interventions

Questions au gouvernement
Ses dernières questions orales

    09/07/20 — Premier Ministre - Ségur de la santé
    21/05/20 — Ministère du travail - Dispositif « objectif reprise »
    02/04/20 — Ministère de l'éducation nationale - Lancement de la plateforme sur la réserve citoyenne
    23/01/20 — Ministère de l'économie - Opération « Choose France »

Toutes ses questions orales
Ses dernières questions écrites
Ce sénateur n'a posé aucune question écrite.

Toutes ses questions écrites

# Derniers commentaires concernant Martin Lévrier

Le travail de ce sénateur n'a pas encore inspiré de commentaire aux utilisateurs.



{% endblock %}