{% extends 'base.html' %}

{% block content %}
<div style="color:#5426F6"># À l'Assemblée:

Députée du jour: <a href="/">Claudia Rouaux</a>

<a href="/">Trouver son député</a>

En ce moment: bâtiment caméra caméras piétons champêtre diffuser diffusion

<a href="/">Activité des 12 derniers mois</a></div>
<div style="color:#F62630"># Au Sénat:

Sénateur du jour: <a href="senateur/{{senateur.slug}}">{{senateur.Prenom_usuel}} {{senateur.Nom_usuel}}</a>

<a href="/">Trouver son sénateur</a>

En ce moment: AAH accès addiction administration AFD agit agriculteur assurance maladie autonomie branche

<a href="/">Activité des 12 derniers mois</a></div>
# Les derniers commentaires:

- Questions d'actualité au gouvernement - Suite aux propos de Jean-Yves Le Drian le 04/11/2020, aristide a dit le 18/11/2020 :

Incroyable que des personnes aussi peu informées sur la nature puissent voter sur de sujets aussi importants. Non le vautour fauve n'est pas un prédateur mais un nettoyeur ! il n'attaque jamais !Je pense que ce personnage a du se laisser influencer par des éleveurs FNSEA qui s...

- Environnement et développement durable - Suite aux propos de Simon Sutour le 16/07/2020, Fred.goupil a dit le 27/09/2020 :

Incroyable que des personnes aussi peu informées sur la nature puissent voter sur de sujets aussi importants. Non le vautour fauve n'est pas un prédateur mais un nettoyeur ! il n'attaque jamais !Je pense que ce personnage a du se laisser influencer par des éleveurs FNSEA qui s...

{% endblock %}
